<!doctype html>
<html lang="en">
  <head>
    {% block head -%}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A simple static website built using Axum and HTMX"
    />
    <title>{% block title %}{% endblock %}</title>
    <!-- The question mark is there to ensure the latest favicon icon is used -->
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg?" />
    <link rel="stylesheet" href="/assets/output.css" />
    <script defer src="/assets/htmx.min.js"></script>
    <script defer src="/assets/alpinejs.min.js"></script>
    {%- endblock %}
  </head>
  <body>
    {% include "base_nav.html" %}
    <div class="bg-white font-mono w-screen m-auto max-w-2xl p-3" id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>

