{% extends "base.html" %}
{% block title %}Health Check{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<h1 class="text-3xl">Health Check</h1>
<div x-data="{ htmlVersion: htmx.version, alpineVersion: Alpine.version }">
  <div id="htmx-version">
    htmx version = <strong x-text="htmlVersion"></strong>
  </div>
  <div id="alpine-version">
    Alpine.js version = <strong x-text="alpineVersion"></strong>
  </div>
</div>
<script>
  document.body.addEventListener("init", function(evt) {
    console.log("hey from healthcheck.html!");
  }, {once: true})
</script>
{% endblock %}
