{% extends "base.html" %}
{% block title %}Health Check{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<h1 class="text-3xl">Health Check</h1>
<div>
  <div id="htmx-version">
    Grabbing htmx version ... 
  </div>
  <div id="alpine-version">
    Grabbing alpine version ...
  </div>
</div>
<script>
  window.onload = (event) => {
    // Update the htmx version
    let htmxVersion = "";
    let htmxDOM = document.getElementById("htmx-version");
    try {
      htmxVersion = htmx.version;
      htmxDOM.innerHTML = `htmx version = ${htmxVersion}`;
    } catch (e) {
      htmxDOM.innerHTML = `ERROR: Failed to retrieve htmx version = ${e.message}`;
    }

    // TODO Handle case where Alpine fails
    // Update the Alpine version
    const alpineVersion = Alpine.version;
    let alpineDOM = document.getElementById("alpine-version");
    alpineDOM.innerHTML = `Alpine version = ${alpineVersion}`;
  }
</script>
{% endblock %}
